/*common start*/
body{
	font-family:'Poppins',sans-serif;
	font-size: 16px;
	font-weight: 400;
	color:#000000;

}
/*common end*/

/*header start*/
header{
	background-color:#F0FFF0;
	padding: 5px 0;
}
.c_nav{}
.logo{}
.menu{}
.menu ul li a{
    color:#000000 !important;
    line-height:24px;
    text-transform: capitalize;
    padding: 0 24px !important;
}
.menu ul li a:hover{
	color:#FD511A !important;
}
.btn_signin{
	font-family:'Roboto',sans-serif;
	color:white;
	line-height: 19px;
	padding: 12px 28px;
    background: #21B573;
    border: 0;
    border-radius: 33px;
}
.btn_signin:hover{
 background-color: #FD511A;
 color: white;
}

/*header end*/

/*banner start*/
.banner{
	background-color:#F0FFF0;
	padding: 35px 0 65px;
}
.b_text{}
.b_red{
	color:#FD511A;
	line-height: 24px;
}
.b_h1{
	margin: 10px 0 20px;
	font-size: 48px;
	font-weight: 700;
	color:#000000;
	line-height: 70px;
	padding-right:100px;
}
.b_h1 span{
	color: #21B573;
}
.b_black{
	line-height: 36px;
}
.btn_banner{
	margin-top: 15px;
	padding: 12px 36px;
}
.b_img{}
.b_img img{}


/*banner end*/

   